@page
@model TaskList.Pages.Tasks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Task</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.TaskDescription" class="control-label">Task Description</label>
                <input asp-for="Task.TaskDescription" class="form-control" />
                <span asp-validation-for="Task.TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.DueDate" class="control-label">Task Due Date</label>
                <input asp-for="Task.DueDate" class="form-control" />
                <span asp-validation-for="Task.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
