@page "{id:int?}"
@model TaskList.Pages.Tasks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Task.ID" />
            <div class="form-group">
                <label asp-for="Task.TaskDescription" class="control-label"></label>
                <input asp-for="Task.TaskDescription" class="form-control" />
                <span asp-validation-for="Task.TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.DueDate" class="control-label"></label>
                <input asp-for="Task.DueDate" class="form-control" />
                <span asp-validation-for="Task.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Priority" class="control-label">Task Priority</label>
                <input asp-for="Task.Priority" class="form-control" />
                <span asp-validation-for="Task.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
